.upload.container{
}

.hdr_icon {
    max-width:30px;
}

.color_success {
    color:green;
}
.color_pending {
    color:red;
}

.table_row {
    margin-bottom:10px;
}

.table_header {
    border-bottom:1px solid #ccc;
    margin-bottom:10px;
}

.table_header div {
    font-weight:bold;
    padding:3px 0 7px;
}

.upload_desc {
    margin-bottom:25px;
}

.btn_row {
    padding-top:25px;
}

.walkid{
    cursor:pointer;
    color:#0c5460;
    text-decoration:underline;
}